.container {
    margin: 0 auto;
    width: 940px;
}

.content_style {
    border: 2px solid grey;
    padding: 10px;
}

.text_style-1 {
    font-size: 30px;
    border: 3px solid red;
    padding: 5px;
    line-height: 50px;
    transition: 0.4s;
}

.text_style-1:hover {
    color: blue;
    border-color: blue;
}

.text_style-2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}

.text_style-3 {
    font-size: 18px;
    font-style: italic;
    line-height: 40px;
}